# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/build/v14/.suo
build/build.VC.db
build/code_0_setup/x64/Debug/code_0_setup.log
build/code_0_setup/x64/Debug/code_0_setup.tlog/CL.command.1.tlog
build/code_0_setup/x64/Debug/code_0_setup.tlog/CL.read.1.tlog
build/code_0_setup/x64/Debug/code_0_setup.tlog/CL.write.1.tlog
build/code_0_setup/x64/Debug/code_0_setup.tlog/code_0_setup.lastbuildstate
build/code_0_setup/x64/Debug/code_0_setup.tlog/link.command.1.tlog
build/code_0_setup/x64/Debug/code_0_setup.tlog/link.read.1.tlog
build/code_0_setup/x64/Debug/code_0_setup.tlog/link.write.1.tlog
*.idb
*.pdb
*.ilk
*.opendb
*.tlog
*.tlog
*.tlog
*.tlog
*.tlog
*.tlog
*.lastbuildstate
*.tlog
*.log
*.tlog
build/code_1_my_first_triangle/code_1_my_first_triangle.vcxproj.filters
build/code_2_wrapping/code_2_wrapping.vcxproj.filters
build/code_3_box2d/code_3_box2d.vcxproj.filters
build/code_2_wrapping/code_2_wrapping.vcxproj.filters
build/.vs/build/v14/.suo
build/code_2_wrapping/code_2_wrapping.vcxproj.filters
build/code_2_wrapping/code_2_wrapping.vcxproj.filters
*.filters
*.filters
